/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';

/* add fonts here */


@font-face {
  font-family: PlayfairDisplay;
  font-weight: 400;
  src: url('~assets/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('ttf'),
  url('~assets/fonts/PlayfairDisplay-VariableFont_wght.ttf') format('ttf');
}

@font-face {
  font-family: DMSerifDisplay;
  font-weight: 400;
  src: url('~assets/fonts/DMSerifDisplay-Regular.ttf') format('ttf')
}

@font-face {
  font-family: Lora;
  font-weight: 400;
  src: url('~assets/fonts/Lora-VariableFont_wght.ttf') format('ttf')
}

@font-face {
  font-family: Nunito;
  font-weight: 400;
  src: url('~assets/fonts/NunitoSans-Regular.ttf') format('ttf')
}

@font-face {
  font-family: Nunito;
  font-weight: 700;
  src: url('~assets/fonts/NunitoSans-SemiBold.ttf') format('ttf')
}

@font-face {
  font-family: Cantata;
  /*font-weight: 400;*/
  src: url('~assets/fonts/CantataOne-Regular.ttf') format('ttf')
}

@font-face {
  font-family: DMSerifDisplay;
  font-weight: 400;
  src: url('~assets/fonts/DMSerifDisplay-Italic.ttf') format('ttf');
  font-style: italic;
}
